@font-face{
 font-family: "Avenir Roman"; 
  src: url("avenir-roman.ttf") format("truetype");
}


* {
    margin: 0;
    padding: 0;
}
body {
    background: url("bg.jpg")no-repeat top center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    font-family: "Avenir Roman", sans-serif;
}

.btn {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
  color: #f9f9f9;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.6);
  padding: 8px 16px;
  border: 1px solid #f9f9f9;
  border-radius: 4px;
  display: inline-block;
 position: absolute; 
 top: 16px;
 right: 32px;
 transition: .2s ease;
}

.btn:hover{
background: #f9f9f9;
color: #000;
}


img.franquias {
 max-width: 600px; 
 position: absolute;
 bottom: 25px;
}

img.logo {
max-width: 160px;
}

.hero-content {
  margin-top: -10px;
   padding-left: 80px; 
}

.hero-content > p {
  font-size: 12px;
  line-height: 18px;
color: rgba(192, 192, 192, 0.8);
margin-top: 16px;
}

h1 {
   font-size: 43px; 
   line-height: 53px;
   color: #f9f9f9;
   margin: 20px 0 30px 0;
}

.preços-container {
  display: flex;  

}
.preço  span{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
   color: #f9f9f9; 
}

.preço {
  width: 300px;
  max-width: 100%;
color: rgba(192, 192, 192, 0.8);
}

.preço:first-child {
  display: grid;
}

.preço:first-child a{
  align-self: end;
} 

.preço a{
  padding: 16.5px 14px;
  background: blue;
  display: block;
  border-radius: 4px;
  font-size: 18px;
  text-align: center;
  color: #f9f9f9;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.2 ease;
}

.preço a:hover {
  background: #0483ee;

}
.preço p:first-child{
 margin: 0; 
}

.preço p {
margin: 16px 0;
}

.preço + .preço {
  margin-left: 32px;
}


